
/*  Colores berreta */
$color-primary: #202225;
$color-secondary: #393939;
$color-third: #53575f;
$color-texto-1: #d1d2d3;
$color-texto-2: #909296;
/*------------------- */

$phone-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-breakpoint: 1200px;

.rounded-input {
  background: none;
  border: 2px solid $color-texto-1;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: $color-texto-1;
  border-radius: 24px;
  transition: 0.25s;
  font-family: inherit;
}
.rounded-left-input {
  @extend .rounded-input;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.rounded-button {
  background: $color-primary;
  border: 2px solid $color-texto-1;
  padding: 14px 40px;
  outline: none;
  color: $color-texto-1;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;

  &:hover:not([disabled]) {
    background: $color-texto-1;
    color: $color-third;
  }
}

.rounded-right-button {
  @extend .rounded-button;
  border-left: none;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.card {
  border: 2px solid $color-secondary;
  border-radius: 10px;
  background-color: $color-primary;

  .card-header {
    border-radius: 5px 5px 0px 0px;
    height: 60px;
    font-weight: bold;
    background-color: $color-secondary;
  }

  .card-body {
    padding: 20px;
    text-align: center;
  }
}

// desde aca hay que agregar 

// vista empezar
.card-preguntas {
  @extend .card;
  @media(max-width: $phone-breakpoint){
    margin: 0;
    margin-bottom: 10px;
  }
  .card-body {
    padding: 8px;

    .cont-preguntas{
      overflow: auto;
      max-height: 350px;
    }
    .cont-pregunta {
      @extend .card;
      height: 140px;
      padding: 8px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        transform: scale(1.02);
      }
      @media(max-width:$phone-breakpoint){
        width: 270px;
      }
    
      .cont-texto{
        padding: 10px;
        width: 500px;
      }
  
      .imagen-juego {
        @extend .card;
        cursor: pointer;
        height: 110px;
        width: 140px;
        transition: all 0.2s ease-in-out;
          @media(max-width:$phone-breakpoint){
            height: 80px;
            width: 80px;
            margin-top: 20px;
          }
        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }

  
}
.card-datos {
  @extend .card;
  @media(max-width: $phone-breakpoint){
    margin: 0;
    margin-bottom: 10px;
  }
  .card-body {
    padding: 30px;

    .datos-cont {
      overflow: auto;
      overflow-x: hidden;
      max-height: 315px;
      padding: 15px;
    
    
      .imagen-juego {
        @extend .card;
        cursor: pointer;
        margin-right: 10px;
        height: 135px;
        width: 220px;
        transition: all 0.2s ease-in-out;
    
        &:hover {
          transform: scale(1.03);
        }
      }
      .datos{
        font-size:14px;
        color: #d1d2d3;
      }
      
      .datos li{
        list-style:none;
        border-bottom:dotted;
        border-bottom-color: #393939;
        margin-top:10px;
        padding-bottom:8px;
      }
    }
  }
  
  ///--------------//
}

//modal 
.input-link{
  @extend .rounded-input;
  text-align: center;
  width: 400px !important;
}

//------------------//

/* cosas para vista join*/
.card-join{
  border: 2px;
  border-radius: 10px;
  margin-left: 275px;
  margin-top: 20px;
}
  .cont-pass{
    padding-top: 10px;
    margin-left: 500px;
  }
  .boton-buscar{
  @extend .rounded-right-button;  
  padding: 13px 20px !important;
    
  }

  .input-buscar{
    @extend .rounded-left-input;
    padding: 14px 20px !important;
  }

.input-join{
  @extend .rounded-input;
  width: 700px;
}

/*----------------*/