
@import "./sass/App.scss";


.card-preguntas {
  @extend .card;
  @media(max-width: $phone-breakpoint){
    margin: 0;
    margin-bottom: 10px;
  }
  .card-body {
    padding: 8px;

    .cont-preguntas{
      overflow: auto;
      max-height: 350px;
    }
    .cont-pregunta {
      @extend .card;
      height: 140px;
      padding: 8px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        transform: scale(1.02);
      }
      @media(max-width:$phone-breakpoint){
        width: 270px;
      }
    
      .cont-texto{
        padding: 10px;
        width: 500px;
      }
  
      .imagen-juego {
        @extend .card;
        cursor: pointer;
        height: 110px;
        width: 140px;
        transition: all 0.2s ease-in-out;
          @media(max-width:$phone-breakpoint){
            height: 80px;
            width: 80px;
            margin-top: 20px;
          }
        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }

  
}
.card-datos {
  @extend .card;
  @media(max-width: $phone-breakpoint){
    margin: 0;
    margin-bottom: 10px;
  }
  .card-body {
    padding: 30px;

    .datos-cont {
      overflow: auto;
      overflow-x: hidden;
      max-height: 315px;
      padding: 15px;
    
    
      .imagen-juego {
        @extend .card;
        cursor: pointer;
        margin-right: 10px;
        height: 135px;
        width: 220px;
        transition: all 0.2s ease-in-out;
    
        &:hover {
          transform: scale(1.03);
        }
      }
      .datos{
        font-size:14px;
        color: #d1d2d3;
      }
      
      .datos li{
        list-style:none;
        border-bottom:dotted;
        border-bottom-color: #393939;
        margin-top:10px;
        padding-bottom:8px;
      }
    }
  }
  
  ///--------------//
}

//modal 
.input-link{
  @extend .rounded-input;
  text-align: center;
  width: 400px !important;
}

//------------------//





/* cosas para vista join*/


