//Aca van las variables
$color-primary: #202225;
$color-secondary: #393939;
$color-third: #36393f;
$color-texto-1: #d1d2d3;
$color-texto-2: #909296;

$phone-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-breakpoint: 1200px;

//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }

.d-flex {
  display: flex;
}


.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.center-all {
  @extend .d-flex;
  @extend .ai-center;
  @extend .jc-center;
}

.center-all-col {
  @extend .center-all;
  flex-direction: column;
}

@for $j from 1 through 100 {
  .h-#{$j} {
    height: ($j * 1%);
  }
}

@for $j from 1 through 100 {
  .w-#{$j} {
    width: ($j * 1%);
  }
}

.titulo-inicio {
  @extend .titulo;
  font-size: 3rem;
}

.titulo {
  color: $color-texto-1;
}

.subtitulo {
  color: $color-texto-2;
}

.boton-inicio {
  background-color: $color-secondary;
  color: $color-texto-1;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 20px;

  @media (max-width: $phone-breakpoint) {
    width: 200px;
    height: 100px;
  }

  @media (min-width: $phone-breakpoint) {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
      background-color: $color-third;
    }
    width: 400px;
    height: 150px;
  }
}

.link{
  text-decoration: none;
}

.link-blanco {
  @extend .link;
  color: white;
  font-size: 14px;
}

.form-login {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .form-box {
    border-radius: 26px;
    padding: 40px;
    background: $color-secondary;
    text-align: center;
  }

  .titulo-login{
    @extend .titulo;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .form-box input[type="text"], .form-box input[type="password"], .form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $color-texto-1;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }

  .form-box input[type="text"]:focus, .form-box input[type="password"]:focus {
    width: 250px;
  }

  .form-box button[type="submit"] {
    border: 0;
    background: $color-primary;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }

  .form-box button[type="submit"]:hover {
    background: $color-third;
  }
}

.m-0 {
  margin: 0 !important; 
}


/*==================================================================
[ Tabla ]*/
.wrap-table {
  margin-right: 20px;
  width: 1400px;
  @media (max-width: $phone-breakpoint) {
    width: 500px;
  }
}

.table {
  width: 100%;
}

table {
  width: 100%;
}

.column1 {
  width: 20%;
}

.column2 {
  width: 30%;
}

.column3 {
  width: 10%;
}

.column4 {
  width: 10%;
}

.column5 {
  width: 10%;
}

.column6{
  width: 20%;
}

.table-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table-body td {
  padding-top: 18px;
  padding-bottom: 18px;
}

/*==================================================================
[ Fixeo de tamaños ]*/

.table {
  position: relative;
  padding-top: 60px;
}

.table-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table-body {
  max-height: 600px;
  overflow: auto;
}

/*==================================================================
[ Estilo de Tabla]*/

.table.style {
  text-align: center;
  background-color: $color-secondary;
  border-radius: 10px;
}

.table.style th {
  color: $color-texto-1;
  line-height: 1.4;
  background-color: $color-secondary;
}

.table.style td {
  color: $color-texto-2;
  line-height: 1.4;
  background-color: $color-primary;
}


/*==================================================================
[ Estilo scroll]*/

.scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #a7a7a7;
}

.scroll::-webkit-scrollbar
{
    width: 12px;
}

.scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*==================================================================
[ Card]*/

.card {
  width: 400px;
  height: 300px;
  border: 2px solid $color-secondary;
  border-radius: 10px;
  background-color: $color-primary;
  margin-bottom: 20px;

  .card-header {
    font-weight: bold;
    background-color: $color-secondary;
  }

  .card-body {
    text-align: center;
  }
  @media (max-width: $phone-breakpoint) {
    width: 200px;
    height: 200px;
  }
}

.flex-izq {
  margin-left: 20px;
}

.contenedor {
  @media (max-width: $phone-breakpoint) {
    flex-direction: column;
  }
}