.uppy-Root {
  height: 300px;
  width: 300px;


  .uppy-Dashboard-inner {
    border: none;
  }
}

.separador {
  height: 1px;
  background-color: gold;
  border: none;
}

.texto {
  color: #d1d2d3;
  text-decoration: none;
}

.jc-se {
  justify-content: space-evenly;
}
