@import "./App.scss";

.card-ranking {
  @extend .card;
  .barra {
    width: 500px;
    @media (max-width: $phone-breakpoint) {
      width: 300px;
    }
  }
  .column1 {
    width: 50px;
  }
  .column2 {
    width: 150px;
  }
  .column3 {
    width: 50px;
  }
  .table-body {
    border-radius: 6px;
    max-height: 242px;
    overflow: auto;
  }

}